<h1>Top 10 Places to see in San Diego</h1>
<ul>
  <li>Sea World</li>
  <li>San Diego Zoo</li>
  <li>Balboa Park</li>
  <li>La Jolla Cove</li>
  <li>Petco Park</li>
  <li>Mt Helix</li>
  <li>Lego Land</li>
  <li>The Beach</li>
  <li>Potato Chip Rock</li>
  <li>The Gaslamp</li>
</ul>

<br/>
<%= link_to "Home", "/" %>
