<h1>Current Team Members</h1>
<ul>
  <li>Bach</li>
  <li>Chuck</li>
</ul>


<br/>
<%= link_to "Joke", "/joke" %>

<br/>
<%= link_to "Top 10 Places in San Diego", "/places" %>

<br/>
<%= link_to "Top 10 TV shows", "/television" %>
