<h1>Top 10 TV Shows</h1>
<ul>
  <li>Madalorian</li>
  <li>Madmen</li>
  <li>Americas Got Talent</li>
  <li>Office</li>
  <li>The Voice</li>
  <li>Stranger Things</li>
  <li>The Boys</li>
  <li>Cheers</li>
  <li>Seinfeld</li>
  <li>Frazier</li>
</ul>

<br/>
<%= link_to "Home", "/" %>
