<div class="box">
    <h1>That's it. That's the joke.</h1>
    </br>
<%= link_to "Home", "/" %>
<hr>
</div> 


<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
