<h1>Top 10 Places in SD</h1>
<ol>
    <li>Balboa Park</li>
    <li>Sunset Cliffs</li>
    <li>Gaslamp Quarter</li>
    <li>Old Town</li>
    <li>San Diego Zoo/Safari Park</li>
    <li>Seaport Village</li>
    <li>USS Midway</li>
    <li>Petco Park</li>
    <li>Sea World</li>
    <li>Torrey Pines</li>
</ol>
</br>
<%= link_to "Home", "/" %>