<div class="box">
    <h1>2020...</h1>
    </br>
<%= link_to "Punchline", "/answer" %></br>
<hr>
<%= link_to "Home", "/" %>
<hr>
</div>

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
