<h1>This app brought to you by:</h1>
<h2>Drew & Matt</h2>
</br>
<%= link_to "Joke", "/question" %>
<%= link_to "Top 10 Places in SD", "/places" %>
<%= link_to "Top 10 Television Shows", "/television" %>