<div class="box">
    <h1>This app brought to you by:</h1>
    <h2>Drew & Matt</h2>
    </br>
    <div class="buttons">
        <%= link_to "Joke", "/question", class: "btn" %></br>
        <hr>
        <%= link_to "Top 10 Places in SD", "/places", class: "btn" %></br>
        <hr>
        <%= link_to "Top 10 Television Shows", "/television", class: "btn" %>
    </div>
</div>

<%= stylesheet_link_tag 'landing.css' %>

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">