<h1>Top 10 TV Shows</h1>
<ol>
    <li>Breaking Bad</li>
    <li>Prodigal Son</li>
    <li>Upload</li>
    <li>The Office</li>
    <li>Mr. Robot</li>
    <li>Zoey's Infinite Playlist</li>
    <li>Spartacus</li>
    <li>Scrubs</li>
    <li>Lucifer</li>
    <li>Parks & Rec</li>
</ol>
</br>
<%= link_to "Home", "/" %>