<h1>Ten places to go!</h1>

<ul>
<li>National Comedy Theatre</li>
<li>El Indio</li>
<li>Lucha Libre</li>
<li>Sunset Cliffs</li>
<li>Seven Grand</li>
<li>La Posta</li>
<li>Old Globe</li>
<li>La Jolla Playhouse</li>
<li>Coronado Bridge</li>
<li>Literally Anywhere Else</li>
</ul>
<br/>
<%= link_to 'Click to go to the homepage!', '/' %>
