<h1>Ten best TV shows!</h1>

<ul>
<li>Firefly</li>
<li>Breaking Bad</li>
<li>Haunting of Hill House</li>
<li>Lovecraft Country</li>
<li>Steven Universe</li>
<li>Gumball</li>
<li>Fargo</li>
<li>The West Wing</li>
<li>JAG</li>
<li>Critical Role</li>
</ul>
<br/>
<%= link_to 'Click to go to the homepage!', '/' %>
