<!-- <h1>Do you want to hear a joke??</h1>

<%= link_to "question", "/question" %> -->
<h1>Click the links below to find our recommendations</h1>
<%= link_to "places", "/places" %>
<%= link_to "television", "/television" %>
<%= link_to "team", "/team" %>
