<h1>These are our top 10 places to see in San Diego!</h1>
<ul>
  <li>Sunset Cliffs</li>
  <li>Balboa Park</li>
  <li>San Diego Zoo</li>
  <li>SeaWorld</li>
  <li>Knotts Soak City</li>
  <li>Lego Land</li>
  <li>Mt. Helix</li>
  <li>Gaslamp</li>
  <li>Belmont Park</li>
  <li>Coronado</li>
</ul>
<%= link_to "return to home page", "/" %>
