<h1>These are our 10 favorite shows!</h1>
<ul>
  <li>SPORTSCENTER</li>
  <li>Raised by Wolves</li>
  <li>Modern Family</li>
  <li>Big Bang Theory</li>
  <li>Half Worlds</li>
  <li>Rick and Morty</li>
  <li>Parks n Rec</li>
  <li>The Simpsons</li>
  <li>Avatar The Last Airbender</li>
  <li>Steven Universe</li>
</ul>
<%= link_to "return to home page", "/" %>
